/* GENERALES */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    background: linear-gradient(to right, #ff8647, #fdad69, #ffdd90);
    display: flex;
    justify-content: center;
    align-items: center;

}

#wrap {
    width: 95%;
    max-width: 1200px;
    max-height: 550px;
    height: 100vh;
    background: #101010;
    box-shadow: 20px 20px 30px #4e3b24;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-column: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;

    display: flex;
    flex-wrap: wrap;

}

/* SCROLL */

#wrap {
    overflow-x: hidden;
    overflow-y: auto;

    scrollbar-color: rgb(60, 199, 227) transparent;
    scrollbar-width: none;
    transition: ease-in-out 5s;
}

#wrap:hover {
    scrollbar-width: thin;
}

/* SCROLL */

#wrap {
    overflow-x: hidden;
    overflow-y: auto;

    scrollbar-color: rgb(60, 199, 227) transparent;
    scrollbar-width: none;
    transition: ease-in-out 5s;
}

#wrap:hover {
    scrollbar-width: thin;
}

/* pagina 1 */

#pag1 {
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
    max-height: 100vh;

    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#pag1 #img img {
    width: 1200px;
    height: 560px;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, black 90%, transparent);
    filter: brightness(0.7)
}

#pag1 #content {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


#pag1 #content h1 {
    font-size: 50px;
    font-family: sans-serif;
    margin-top: 150px;
    font-weight: 900;
    text-shadow: 0px 0px 10px black;
    text-align: center;
}

#pag1 #content p {
    width: 70%;
    font-size: 20px;
    margin-top: 10px;
}

#pag1 #content input[type="button"] {
    display: block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-top: 40px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

/* pagina 2 */

#pag2 {
    width: 100%;
    max-width: 1200px;
    min-height: 500px;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#pag2 #content {
    color: white;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: justify;
    gap: 20px;
}

#pag2 #content h1,
p {
    text-align: end;
}

#pag2 #img {
    display: flex;
    justify-content: center;
}

#pag2 #img img {
    width: 90%;
    padding: 20px;
    border-radius: 50px;
    filter: brightness(0.9)
}

#pag2 input[type="button"] {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    color: #555;
    cursor: pointer;
}

/* pag3 */

#pag3 {
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
    max-height: 100vh;
}

#pag3 #img img {
    width: 1200px;
    height: 560px;
    object-fit: cover;

    mask-image: linear-gradient(to bottom, black 90%, transparent);
    filter: brightness(0.5);
}

/* pagina 4 */

#pag4 {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#pag4 #text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pag4 #text p {
    width: 100%;
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: center;
    margin-top: 10px
}

#pag4 #img {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#pag4 #img .img {
    width: 100%;
    max-width: 300px;
    height: 450px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222b8;
    border-radius: 25px;
    filter: brightness(0.5);
    transition: 900ms all;
}


#pag4 #img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    filter: brightness(0.8);

}

#pag4 #img .img:hover {
    filter: brightness(0.9);
    cursor: pointer;
}


#info {
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;

}

#info p:nth-child(2) {
    color: #cccccc6b;
}

#pag4 input[type="button"] {
    width: 130px;
    height: 35px;
    border-radius: 10px;
    color: #555;
    cursor: pointer;
}

/* pagina-5 */

#pag5 {
    width: 100%;
    max-width: 1200px;
    min-height: 550px;
    max-height: 100vh;
    margin-top: 10px;

    position: relative;
}

#pag5 #img img {
    width: 1200px;
    height: 560px;
    object-fit: cover;

    mask-image: linear-gradient(to bottom, black 90%, transparent);
    filter: brightness(0.5);
}

#pag5 #info-bottom {
    width: 100%;
    height: 550px;
    background-color: transparent;
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: #ccc;
    font-size: 40px;
}

#pag5 #info-bottom #icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

footer {
    font-size: 10px;
    display: flex;
    justify-content: center;
}

/* Responsibe Pag 1 */


@media (max-width: 1067px) {
    #pag1 #content h1 {
        font-size: 46px;
    }

}
@media (max-width: 991px) {
    #pag1 #content h1 {
        font-size: 40px;
    }

}


@media (max-width: 891px) {
    #pag1 #content h1 {
        font-size: 37px;
    }
}



@media (max-width: 797px) {
    #pag1 #content h1 {
        font-size: 32px;
    }
}

@media (max-width: 689px) {
    #pag1 #content h1 {
        font-size: 27px;
    }
}

@media (max-width: 679px) {
    #pag1 #content h1 {
        font-size: 27px;
    }
    #pag1 #content p {
        width: 88%;
        font-size: 20px;
        margin-top: 15px;
        text-align: justify;
    }
}

@media (max-width:577px) {
    #pag1 #content h1 {
        margin-top: 89px;
    }

    #pag1 #content h1 {
        font-size: 39px;
    }
    #pag1 #content p {
        width: 75%;
        text-align: justify;
        font-size: 20px;
        margin-top: 10px;
    }
}

@media (max-width: 560px) {
    #pag1 #content h1 {
        font-size: 37px;
    }
}

@media (max-width: 505px) {
    #pag1 #content h1 {
        font-size: 34px;
    }

    #pag1 #content p {
        width: 85%;
        text-align: justify;
        font-size: 17px;
        margin-top: 10px;
    }

    #pag1 #content input[type="button"] {
        margin-top: 27px;
    }


}

@media (max-width:439px) {
    @media (max-width: 505px) {
        #pag1 #content h1 {
            font-size: 29px;
        }
    }

}

@media (max-width: 379px) {
    @media (max-width: 505px) {
        #pag1 #content h1 {
            font-size: 25px;
        }
    }
}

@media (max-width: 319px) {
    @media (max-width: 505px) {
        #pag1 #content h1 {
            font-size: 34px;
        }
    }
}